@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-light: #dbeafe;
  --color-primary-dark: #1d4ed8;
  
  --color-background: #f8fafc;
  --color-background-dark: #0f172a;
  
  --color-card: #ffffff;
  --color-card-dark: #1e293b;
  
  --color-text-primary: #1e293b;
  --color-text-secondary: #64748b;
  --color-border-color: #e2e8f0;
  
  --font-family-display: "Manrope", sans-serif;
}

